//-link(rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css")
//- link(rel="stylesheet" href="/vendors/@coreui/coreui/dist/css/coreui.min.css")
//- link(rel="stylesheet" href="/css/style.pro.css")
link(rel="stylesheet" href="/vendors/ladda/css/ladda-themeless.min.css")
link(rel="stylesheet" href="/js/libs/datepicker.min.css")
  
style.
  .modal-body>.btn {
    margin: 4px;
  }
  .pre-hide {display: none !important};
